

body {
    background-color: hsl(30, 38%, 92%)
}

img {
    width: 100%;

}

p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 16px ;
    line-height: 25px ;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
}

.precioanterior {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 17px
}

.precioactual {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    
}


.contenedor{
    background-color: white;
    width: 375px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    
}

.texto {

    padding: 0 28px;
}

.carrito-btn {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 80px;
    font-size: 16px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    margin: 20px 0px;
    width:  100%;
  }
